/*{
   border-color: blueviolet; 
   border-style: ridge;
}

/*container style*/
.container{
    background-color: whitesmoke;
}



/*header style*/

.form-header{
    height: 20px;
}

/*form labels style*/
label{
    font-weight: bold;
}