/*{
    border-color: blue;
    border-style: dashed;
}

/*container style*/
.container{
    background-color: whitesmoke;
    padding-top: 1%;
}


/*header style*/

.form-header{
    height: 20px;
}

/*form labels style*/
label{
    font-weight: bold;
}

/*payment section style*/
span{
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;

}

.fa-cc-paypal, .fa-cc-visa, .fa-cc-discover, .fa-cc-amex{
    color: white;

}